body {
    background-image:url("http://img04.deviantart.net/9cb9/i/2009/309/6/2/hogwarts_logo_by_savetheplatypi.jpg");
    color:yellow;
}
option{
    background-color:black;
    color:yellow;
}
#a{color:yellow;
}
#b{color:yellow;
}
#c{color:yellow;
}
#d{color:yellow;
}
#e{color:yellow;
}
#f{color:yellow;
}
#g{color:yellow;
}
#h{color:yellow;
}
#i{color:yellow;
}
#j{color:yellow;
}
