body
{
    background-color:black;
    color:white;
}
img
{
    height:395px;
    width:600px;
}
#a
{
color: purple;
}
#b
{
color: purple;
}
#c
{
color: purple;
}
#d
{
color: purple;
}
#e
{
color: purple;
}
.o1
{
    color:purple;
    background-color:black;
}
.o2
{
    color:purple;
    background-color:black;
}
.o3
{
    color:purple;
    background-color:black 
}
.o4
{
    color:purple;
    background-color:black 
}
.o5
{
    color:purple;
    background-color: black;
}